/* ======================
* GOOGLE FONTS IMPORTED
====================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
?   font-family: "Roboto", sans-serif;
*/

/* ======================
* GLOBAL STYLE 
====================== */
:root {
  --primary-brand-color: #712cf9;
  --secondary-brand-color: #2d2648;

  --primary-bg-color: #212529;
  --secondary-bg-color: #19191f;

  --primary-text-color: #f9f9f9;
  --secondary-text-color: #c0c3d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

section {
  padding: 120px 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
}

/*  
* TOGGLE BAR STYLE
*/
.toggle-bar {
  color: var(--primary-brand-color) !important;
}
.navbar-toggler {
  border: 2px solid var(--primary-brand-color) !important;
}

/*  
* BUTTON STYLE
*/
.primary-brand-btn,
.secondary-brand-btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-text-color) !important;
  background: var(--primary-brand-color) !important;
  border: 2px solid transparent !important;
  border-radius: 0px;
  box-shadow: var(--primary-brand-color) 0px 0px 0px 50px inset !important;
  transition-duration: 0.3s;
}
.primary-brand-btn:hover {
  color: var(--primary-text-color) !important;
  background: transparent !important;
  box-shadow: var(--primary-brand-color) 0px 0px 0px 0px inset !important;
  border-color: var(--primary-brand-color) !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  overflow-x: hidden;
}

/* ======================
* PRELOADER STYLE
====================== */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000000000000000000;
  display: flex;
}
#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: var(--primary-bg-color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#preloader:after {
  left: auto;
  right: 0;
}
#preloader .loader_line {
  margin: auto;
  width: 2px;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.loader_line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--primary-brand-color);
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  -o-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--primary-brand-color);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: lineround 1200ms linear 0s infinite;
  -o-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}
@keyframes lineheight {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes lineround {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
}
.portfolio_list {
  min-height: 50vh;
}
/*hiding all*/
.preloaded .loader_line:after {
  opacity: 0;
}
.preloaded .loader_line {
  opacity: 0;
  height: 100% !important;
}
.preloaded:before,
.preloaded:after {
  -webkit-animation: preloadedzero 500ms ease-in-out 500ms forwards;
  -o-animation: preloadedzero 500ms ease-in-out 500ms forwards;
  animation: preloadedzero 500ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

/*
* BACK TO TOP STYLE
*/
.back-to-top {
  position: fixed;
  display: none;
  background: var(--primary-brand-color);
  border: 2px solid var(--primary-brand-color) !important;
  color: var(--primary-text-color);
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  transition-duration: 0.3s;
  z-index: 9;
}
.back-to-top i {
  padding: 7px;
  color: var(--primary-text-color);
}
.back-to-top:hover {
  background-color: transparent !important;
}

/* 
* SECTION HEADER STYLE
*/
.section-header {
  position: relative;
}
.section-header h2 {
  color: var(--primary-bg-color);
  font-family: auto;
  font-size: 160px;
  font-weight: 900;
  text-transform: uppercase;
}
.section-header h3 {
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
}

/* ======================
* HEADER STYLE
====================== */
header {
  min-height: 100vh;
}
.top-nav {
  padding: 15px 0;
  background-color: var(--secondary-brand-color);
  font-size: 14px;
  font-weight: 500;
}
.nav-left-link,
.nav-right-link {
  color: var(--primary-text-color);
  transition-duration: 0.3s;
}
.nav-left-link:hover,
.nav-right-link:hover,
.nav-left-link:focus,
.nav-right-link:focus {
  color: var(--primary-brand-color);
}

/* 
* LOGO STYLE
 */
.navbar-brand .logo .first {
  position: relative;
  margin-right: -7px;
  color: var(--primary-brand-color);
}
.navbar-brand .logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 100px 0 0 100px;
  background-color: var(--primary-brand-color);
  opacity: 0.15;
}
.navbar-brand .logo {
  position: relative;
  display: inline-block;
  padding: 13px 2px 14px 30px;
}
.navbar-brand {
  color: var(--primary-text-color);
  font-size: 30px;
  font-weight: 700;
  transition-duration: 0.3s;
}
.navbar-brand:hover {
  color: var(--secondary-text-color);
}

/*  
* NAVBAR MENU
*/
.navbar {
  position: relative;
  z-index: 99;
  width: 100%;
  padding: 20px 40px;
  background-color: transparent;
  transition-duration: 0.3s;
}
.nav-link,
.nav-link:focus {
  padding: 0 !important;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  transition-duration: 0.3s;
}
.nav-link:hover,
.nav-link.active {
  color: var(--primary-brand-color) !important;
}

/*
* STICKY NAVBAR STYLE
*/
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 50px;
  background: var(--secondary-bg-color) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/*
* SCROLL SPY STYLE
*/
.nav-item.active .nav-link {
  color: var(--primary-brand-color);
}

/* ======================
* HOME / HERO SECTION STYLE
====================== */
h1.stroke-heading {
  color: var(--primary-bg-color) !important;
  font-family: auto;
  font-size: 90px !important;
  font-weight: 900;
  margin: 0 !important;
}

/* 
* TYPED STYLE 
*/
#home .home-text h2 {
  display: inline-block;
  margin: 0px;
  height: 40px;
  font-size: 40px;
  font-weight: 600;
}
#home .home-text .typed-text {
  display: none;
}
#home .home-text .typed-cursor {
  font-size: 40px;
  font-weight: 300;
}
.hero {
  padding: 0 !important;
}
.hero-image {
  width: 400px;
  height: 400px;
  position: relative;
}
.hero-image img {
  max-width: 90%;
  border: 7px solid var(--primary-brand-color);
  border-radius: 50%;
}
.hero-image-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 7px solid var(--primary-bg-color);
  border-right: 7px solid var(--primary-brand-color);
  border-bottom: 7px solid var(--primary-bg-color);
  border-left: 7px solid var(--primary-brand-color);
  border-radius: 50%;

  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================
* ABOUT SECTION STYLE
====================== */
#about .primary-brand-btn {
  color: var(--primary-text-color) !important;
  background: var(--primary-brand-color) !important;
  border: 2px solid transparent !important;
  box-shadow: var(--primary-brand-color) 0px 0px 0px 50px inset !important;
}
#about .primary-brand-btn:hover {
  color: var(--primary-text-color) !important;
  background: transparent !important;
  box-shadow: var(--primary-brand-color) 0px 0px 0px 0px inset !important;
  border-color: var(--primary-brand-color) !important;
}
.about-image {
  position: relative;
  width: 420px;
  height: 420px;
}
.about-image img {
  border-radius: 7px;
}
.about-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition-duration: 1.5s;
}
.about-image:hover.about-image::before {
  opacity: 1;
}

/* ======================
* COUNTER STYLE
====================== */
.counter {
  animation-duration: 5s;
  animation-delay: 0s;
  color: var(--primary-brand-color);
}
.counter-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.counter-icon {
  font-size: 45px;
  color: var(--primary-brand-color);
}
.counter-content {
  font-size: 14px;
  font-weight: 600;
}

/* ======================
* SKILLS SECTION STYLE
====================== */
#skills .skills {
  width: 90%;
  margin: 0 auto 30px;
}
#skills .skill-name {
  margin-top: 15px;
}
#skills .skill-name p {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}
#skills .skill-name p:last-child {
  float: right;
}
#skills .progress {
  height: 22px;
  border-radius: 11px;
  background: var(--secondary-bg-color);
}
#skills .progress .progress-bar {
  width: 0px;
  background: var(--primary-brand-color);
  border-radius: 10px;
  transition-duration: 3s;
}

/* ======================
* SERVICE SECTION STYLE
====================== */
.service-item {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 45px;
  height: 350px;
  transition-duration: 0.3s;
}
.service-item:hover {
  transform: translateY(-7px);
}
.service-item:hover.service-item .icon i {
  color: var(--primary-text-color);
  transform: rotate(360deg);
}
.service-item .icon {
  color: var(--primary-brand-color);
  font-size: 40px;
  font-weight: 700;
  transition-duration: 0.3s;
}
.service-item i {
  transition-duration: 1s;
}
.service-item h4 {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0;
  transition-duration: 0.3s;
}
.service-item:hover.service-item h4 {
  color: var(--primary-brand-color);
}
.service-item p {
  font-size: 15px;
}

/* ======================
* TEAM SECTION STYLE
====================== */
.team_item {
  position: relative;
  z-index: 1;
}
.team_item::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-bg-color);
  z-index: -1;
  transition-duration: 0.3s;
}
.team_item:hover.team_item::before {
  background-color: var(--primary-brand-color);
  color: var(--primary-text-color);
}
.team_item_top {
  display: flex;
}
.team_item_social_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 75px 15px 0;
}
.team_item_social_info a {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--secondary-brand-color);
  border-radius: 50%;
  color: var(--primary-brand-color);
  background-color: var(--secondary-brand-color);
  padding: 20px;
  font-size: 20px;
  transition-duration: 0.3s;
}
.team_item:hover .team_item_social_info a {
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}
.team_item_social_info a:hover {
  scale: 1.1;
}
.team_item_image img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.team_item_text {
  padding: 10px 0px 10px 15px;
}
.team_item_text h3 {
  color: var(--primary-text-color);
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  transition-duration: 0.4s;
}
.team_item_text p {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

/* ======================
* PORTFOLIO SECTION STYLE
====================== */
#portfolio #portfolio-filters {
  padding: 0px;
  margin: -15px 0px 30px;
  list-style: none;
  text-align: center;
}
#portfolio #portfolio-filters li {
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary-text-color);
  background: var(--primary-brand-color);
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 50px var(--primary-brand-color);
  transition-duration: 0.3s;
}
#portfolio #portfolio-filters li:hover,
#portfolio #portfolio-filters li.filter-active {
  color: var(--primary-text-color);
  background: transparent;
  box-shadow: inset 0 0 0 0 var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}
#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
}
#portfolio .portfolio-item figure {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  margin: 0px;
  height: 220px;
}

/* 
* FULL VIEW PORTFOLIO ON HOVER START 
*/
.portfolio-1 {
  background: url(../images/portfolio/axit.png) no-repeat center top;
  background-size: cover;
  transition-duration: 3.7s;
}
.portfolio-wrap:hover .portfolio-1 {
  background-position: center bottom;
}
.portfolio-2 {
  background: url(../images/portfolio/pro-edu.png) no-repeat center top;
  background-size: cover;
  transition-duration: 3.7s;
}
.portfolio-wrap:hover .portfolio-2 {
  background-position: center bottom;
}
.portfolio-3 {
  background: url(../images/portfolio/lucid.png) no-repeat center top;
  background-size: cover;
  transition-duration: 3.7s;
}
.portfolio-wrap:hover .portfolio-3 {
  background-position: center bottom;
}
.portfolio-4 {
  background: url(../images/portfolio/burger-house.png) no-repeat center top;
  background-size: cover;
  transition-duration: 3.7s;
}
.portfolio-wrap:hover .portfolio-4 {
  background-position: center bottom;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.3;
  transition-duration: 0.3s;
}
#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details,
#portfolio .portfolio-item figure .portfolio-title {
  position: absolute;
  display: inline-block;
  opacity: 0;
  text-align: center;
  width: 60px;
  height: 40px;
  background: var(--primary-brand-color);
  border: 2px solid transparent;
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 50px var(--primary-brand-color);
  transition-duration: 0.3s;
}
#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i {
  padding-top: 9px;
  font-size: 22px;
}
#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
  background: transparent;
  border-color: var(--primary-brand-color);
  box-shadow: inset 0 0 0 var(--primary-brand-color);
}
#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i {
  color: var(--primary-brand-color);
}
#portfolio .portfolio-item figure .link-preview {
  left: 50%;
  top: calc(25% - 18px);
}
#portfolio .portfolio-item figure .link-details {
  right: 50%;
  top: calc(25% - 18px);
}
#portfolio .portfolio-item figure .portfolio-title {
  margin: 0px;
  width: 100%;
  height: 50%;
  left: 0px;
  right: 0px;
  top: 100%;
  padding: 30px 10px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  background: var(--primary-brand-color);
  border-radius: 0px;
}
#portfolio .portfolio-item figure .portfolio-title span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 0.7;
  left: calc(50% - 77px);
}
#portfolio .portfolio-item figure:hover .link-details {
  opacity: 0.7;
  right: calc(50% - 77px);
}
#portfolio .portfolio-item figure:hover .portfolio-title {
  opacity: 0.7;
  top: 50%;
}
/* 
* FULL VIEW PORTFOLIO ON HOVER END 
*/

/* ======================
* REVIEW SECTION STYLE
====================== */
#testimonials {
  text-align: center;
}
#testimonials i {
  padding: 20px 0px;
  color: var(--primary-brand-color);
}
#testimonials .testimonial-item {
  text-align: center;
}
#testimonials .testimonial-item .testimonial-img {
  width: 80px;
  height: 80px;
  border: 3px solid var(--primary-brand-color);
  border-radius: 50%;
  margin: 0px auto;
}
#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0px 5px;
}
#testimonials .testimonial-item h4 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 0px 0px 10px;
}
#testimonials .testimonial-item p {
  font-weight: 300;
  margin: 0px auto;
}
#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}
#testimonials .owl-dot {
  display: inline-block;
  margin: 0px 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}
#testimonials .owl-dot.active {
  background-color: var(--primary-brand-color);
}

/* ======================
* FAQ SECTION STYLE
====================== */
.accordion {
  --bs-accordion-bg: var(--secondary-bg-color) !important;
  --bs-accordion-border-color: var(--primary-brand-color) !important;
}
.accordion-button:not(.collapsed) {
  color: var(--primary-text-color) !important;
  background-color: var(--primary-brand-color) !important;
  box-shadow: none !important;
}
.accordion-button {
  color: var(--primary-text-color) !important;
  background-color: var(--secondary-bg-color) !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.accordion-button::after {
  background-image: none !important;
}
.accordion-header {
  font-size: 20px;
  font-weight: 700;
}
.accordion-body {
  color: var(--secondary-text-color) !important;
  padding: 25px 20px !important;
}

/* ======================
* PRICE SECTION STYLE
====================== */
#price .price-item {
  margin-bottom: 30px;
  background: var(--primary-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#price .featured-item {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
}
#price .price-header,
#price .price-body,
#price .price-footer {
  text-align: center;
}
#price .price-header {
  padding: 45px 0px 30px;
}
#price .price-item.featured-item .price-header {
  color: var(--primary-brand-color);
}
#price .price-title h2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}
#price .price-prices h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 15px;
}
#price .price-prices h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  margin-left: -12px;
}
#price .price-prices h2 span {
  font-size: 18px;
  font-weight: 400;
}
#price .price-item.featured-item h2 {
  color: var(--primary-brand-color);
}
#price .price-body {
  display: flex;
  justify-content: center;
}
#price .price-description ul {
  margin: 0px;
  padding: 0px;
}
#price .price-description ul li {
  padding: 0px 0px 15px;
}
#price .price-item .price-action {
  padding-bottom: 45px;
}
#price .price-item .price-action .btn {
  color: rgb(45, 45, 45);
  background: var(--primary-text-color);
  box-shadow: var(--primary-text-color) 0px 0px 0px 50px inset;
  border-radius: 0;
  padding: 12px 30px;
  font-weight: 500;
  transition-duration: 0.3s;
}
#price .price-item .price-action .btn:hover {
  color: var(--primary-text-color);
  background: transparent;
  box-shadow: var(--primary-text-color) 0px 0px 0px 0px inset;
  border-color: var(--primary-text-color);
}
#price .price-item.featured-item .price-action .btn {
  color: var(--primary-text-color);
  background: var(--primary-brand-color);
  box-shadow: var(--primary-brand-color) 0px 0px 0px 50px inset;
}
#price .price-item.featured-item .price-action .btn:hover {
  color: var(--primary-text-color);
  background: transparent;
  box-shadow: var(--primary-brand-color) 0px 0px 0px 0px inset;
  border-color: var(--primary-brand-color);
}

/* ======================
* CONTACT SECTION STYLE
====================== */
.contact-form {
  background-color: var(--secondary-bg-color);
  padding: 50px 40px 30px;
  border-radius: 7px;
}
form input[type="date"],
select {
  padding: 15px 12px !important;
}
form input[type="date"] {
  color: #ffffff !important;
}
.form-control {
  color: #ffffff;
}
form label {
  background: transparent I !important;
}
form input,
select,
textarea {
  background: transparent !important;
  border-color: var(--primary-brand-color) !important;
}
.form-control:focus,
select:focus {
  color: #ffffff;
  border-color: #712cf9;
  outline: 0;
  box-shadow: 0px 0px 3px 2px #2d2648 !important;
}
.form-floating > .form-control:focus ~ label {
  color: #ffffff;
}
.form-floating > .form-control:focus ~ label::after {
  background-color: transparent;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background-color: transparent !important;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: var(--primary-text-color) !important;
}
select,
textarea {
  background: transparent !important;
  color: var(--primary-text-color) !important;
}
.form-select option {
  background-color: var(--primary-bg-color) !important;
}
.submit-button {
  padding: 10px 40px;
  color: var(--primary-text-color);
  background-color: var(--primary-brand-color) !important;
  border: 2px solid var(--primary-brand-color) !important;
  border-radius: 0;
  transition-duration: 0.3s;
}
.submit-button:hover {
  background-color: transparent !important;
  color: var(--primary-text-color);
}

/* ======================
* FOOTER STYLE
====================== */
footer {
  padding: 60px 0 40px;
  background-color: var(--secondary-bg-color);
}
.footer_items {
  display: flex;
}
.footer_item {
  width: 25%;
}
.footer_item ul {
  list-style: none;
}
.footer_item h4 {
  position: relative;
  font-size: 18px;
  color: var(--primary-brand-color);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}
.footer_item h4::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-color: var(--primary-brand-color);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}
.footer_item ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer_item ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition-duration: 0.3s;
}
.footer_item ul li a:hover {
  color: var(--primary-brand-color);
  padding-left: 5px;
}
.footer_item .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--primary-bg-color);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--primary-brand-color);
  transition-duration: 0.3s;
}
.footer_item .social-links a:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-brand-color);
}
.footer_descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.footer_description p {
  color: var(--secondary-text-color);
}
.footer_descriptions span a {
  text-decoration: none;
  color: var(--primary-text-color);
}
